body {background-image: url('images/dumbo1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;}
h1 {text-align: center;
    border:3px solid purple;
    padding:5px;
    margin:25px;
    font-family:fantasy;
    font-size:270%;}
ol{font-size:120%}
li{font-size:80%}
